<div class="container">
    <section class="gallery">
        <div class="gallery-content">
            <div class="gallery-content-wrap">
                <div class="gallery-content-title">Build professional valuable room for you</div>
                <div class="gallery-content-buttons d-flex justify-content-end ">
                    <div class="gallery-content-buttons-left">
                        <img src="../../../assets/images/icons/Vector.png" alt="">
                    </div>
                    <div class="gallery-content-buttons-right">
                        <img src="../../../assets/images/icons/Vector (1).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<div class="splide__track">
    <div class="splide__list">
        <div class="splide__slide">
            <img src="../../../assets/images/gallery/img-01.png" alt="">
        </div>
        <div class="splide__slide">
            <img src="../../../assets/images/gallery/img-02.png" alt="">
        </div>
        <div class="splide__slide">
            <img src="../../../assets/images/gallery/img-03.png" alt="">
        </div>
        <div class="splide__slide">
            <img src="../../../assets/images/gallery/img-04.png" alt="">
        </div>

    </div>
</div>