<div class="container">
    <section class="gallery">

        <div class="swiper-container-2">

            <div class="gallery-content-nav">
                <div class="gallery-content-nav__wrap">
                    <div class="gallery-content-nav__title">Build professional valuable room for you</div>
                    <div class="gallery-content-nav__navigate">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next "></div>
                    </div>
                </div>

            </div>
            <div class="swiper-wrapper">

                <div class="swiper-slide ">
                    <img src="../../../assets/images/gallery/img-01.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-03.png" alt="">
                </div>
                <div class="swiper-slide ">
                    <img src="../../../assets/images/gallery/img-01.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-03.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-01.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-02.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../../../assets/images/gallery/img-03.png" alt="">
                </div>

            </div>
        </div>
    </section>

</div>