<section>
    <div class="container">
        <!-- ======= !!!! ====== -->

        <div class="rech">
            <div class="rech-title">Sound Too Good To Be True?</div>
            <div class="rech-content">
                <div class="rech-content-text">We just wanted to thank you for this fantastic website! We are so
                    grateful for being able to advertise our Petite cabin
                    and receive feedback from people from all over the U.S. and even further.</div>
                <div class="reach-content__control">
                    <div class="rech-content-author"><b>Adam Morph</b> — CEO Alfatech</div>
                    <div class="rech-content-buttons d-flex justify-content-end ">
                        <div class="rech-content-buttons-left">
                            <img src="../../../assets/images/icons/Vector.png" alt="">

                        </div>
                        <div class="rech-content-buttons-right">
                            <img src="../../../assets/images/icons/Vector (1).png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- ======= !!!! ====== -->

        <div class="realize">
            <div class="realize-left">
                <div class="realize-left__build">
                    <img src="./../../../assets/images/consultation/image 1.png" alt="">
                </div>
                <!-- <div class="realize-left__cloud_big">
                    <img src="../../../assets/images/consultation/image 3.png" alt="">
                </div>
                <div class="realize-left__cloud_small">
                    <img src="../../../assets/images/consultation/image 4.png" alt="">
                </div> -->
            </div>
            <div class="realize-right">
                <div class="realize-right__title">
                    Realize your dream project with <span>Archmove</span>
                </div>
                <div class="realize-right__btn">
                    <button>FREE CONSULTATION</button>
                </div>
            </div>
        </div>
    </div>
</section>