<div class="container">
    <section>
        <div class="header">
            <div class="header-title ">
                Build Your Dream <span>House</span>
            </div>
            <div class="header-content row">
                <div class="header-content-left col-4">
                    <p>The first and most trusted marketplace of design & build house in The World. 100% guaranteed
                        Build safe, comfortable and
                        transparent with a project management for the best result</p>
                    <button>Free Consultation</button>
                </div>
                <div class="header-content-right col-8 d-flex justify-content-end">
                    <img src="../../../assets/images/Rectangle 1.svg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>