<div class="container">
    <section class='feature'>
        <div class="feature-title">Build your needs with Archmove</div>
        <div class="feature-title-content">
            <div class="feature-title-content-img">
                <img src="../../../assets/images/img-5.png" alt="">
            </div>
            <div class="feature-title-content-side">
                <div class="feature-title-content-side-wrap">
                    <div class="feature-title-content-side-wrap-items">
                        <div class="feature-title-content-side-wrap-icon">
                            <img src="../../../assets/images/icons/Rectangle 5 (1).svg" alt="">
                        </div>
                        <div class="feature-title-content-side-wrap-item">
                            <div class="feature-title-content-side-wrap-item-title">100% guaranteed project completion
                            </div>
                            <div class="feature-title-content-side-wrap-item-text">Build safe, comfortable and
                                transparent
                                with a project management application with a joint account.</div>
                        </div>
                    </div>
                    <div class="feature-title-content-side-wrap-items">
                        <div class="feature-title-content-side-wrap-icon">
                            <img src="../../../assets/images/icons/Rectangle 6.svg" alt="">
                        </div>
                        <div class="feature-title-content-side-wrap-item">
                            <div class="feature-title-content-side-wrap-item-title">No additional fees
                            </div>
                            <div class="feature-title-content-side-wrap-item-text">There are no hidden costs. The value
                                of the offer you get is the value you paid.</div>
                        </div>
                    </div>
                    <div class="feature-title-content-side-wrap-items">
                        <div class="feature-title-content-side-wrap-icon">
                            <img src="../../../assets/images/icons/Rectangle 7.svg" alt="">

                        </div>
                        <div class="feature-title-content-side-wrap-item">
                            <div class="feature-title-content-side-wrap-item-title">Get escort from the Team
                            </div>
                            <div class="feature-title-content-side-wrap-item-text">Monitor reports from the Arsitag team
                                who check directly in the field.</div>
                        </div>
                    </div>
                    <div class="feature-title-content-side-wrap-items">
                        <div class="feature-title-content-side-wrap-icon"></div>
                        <div class="feature-title-content-side-wrap-item">
                            <button>Free Consultation</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>