<div class="wrap">
    <div class="section-outer">
        <div class="section-inner navigation">
            <div class="navigation_logo ">
                <p>Arch</p>
                <p>Move</p>
            </div>
            <div class="navigation_menu justify-content-start">
                <div class="navigation_menu-item">
                    <a href="#">Design Gallery</a>
                </div>
                <div class="navigation_menu-item">
                    <a href="#">List of Architect</a>
                </div>
                <div class="navigation_menu-item">
                    <a href="#">Articles</a>
                </div>
                <div class="navigation_menu-item">
                    <a href="#">How it Works</a>
                </div>
            </div>
            <div class="navigation_buttons">
                <div class="navigation_buttons_search">
                    <img src="..//../../assets/images/icons/search_black_24dp.svg" alt="">
                </div>
                <div class="navigation_buttons_signin">
                    <button>Sign In</button>
                </div>
                <div class="navigation_buttons_signup">
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</div>