<div class="wrap">
    <div class="section-outer">
        <div class="section-inner navigation">
            <div class="navigation_logo ">
                <p>Arch</p>
                <p>Move</p>
            </div>
            <div class="navigation_menu justify-content-start">
                <div class="navigation_menu-item">Design Gallery</div>
                <div class="navigation_menu-item">List of Architect</div>
                <div class="navigation_menu-item">Articles</div>
                <div class="navigation_menu-item">How it Works</div>
            </div>
            <div class="navigation_buttons">
                <div class="navigation_buttons_search">
                    <img src="..//../../assets/images/icons/search_black_24dp.svg" alt="">
                </div>
                <div class="navigation_buttons_signin">Sign In</div>
                <div class="navigation_buttons_signup">
                    <button>Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</div>